language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5

matrix:
  allow_failures:
    - php: 5.5

before_script:
  - composer install --dev --prefer-source

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
  - vendor/bin/coveralls -v

notifications:
  email: false
  hipchat:
    - secure: "er7thyIWhqVBJjCH4A/giLAf9EGoVJKgsFs+LAxqBK2wlxQmynnum/5mJhCU\n/jBNPqtgIyKjshAUBPsKThKGt/Q1GnGa1Db5gmqLmZb+tBEUcvRH4aQ9M3dX\nxJt9xslRBXiJ2By4ZnxHq5V7VLb5FNm3SeZfHQ2e3hopq6UqiLw="
